@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Pixelify+Sans&family=Quicksand&family=Titillium+Web:wght@600&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
    font-size: 1.2rem;
}

#top{
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:50px 1fr;
    grid-template-areas: 
    "lis"
    "mai"
    ;
}
#grid_wrapper{
    display: grid;
    height: 100%;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px minmax(100px);
    
    grid-template-areas: 
    "se1 se2 se2"
    "se3 se3 se4"
    "se5 se6 se6"
    "foo foo foo"
    ;
}
#grid_wrapper_products{
    display: grid;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px minmax(100px);

    grid-template-areas: 
    "se1 se2 se2"
    "se3 se3 se4"
    "se5 se6 se6"
    "se7 se7 se8"
    "se9 se10 se10"
    "foo foo foo"
    ;
}
#grid_wrapper_contacts{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas: 
    "foo"
    ;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main{
    grid-area: mai;
    display: flex;
    background: black;
}
#list{
    grid-area: lis;
    display: flex;
    background: rgb(222, 207, 177);
}
section{
    margin:15px;
    border-radius: 20px;
    height: 350px;
    border-width: 20px;
    border-color: rgb(52,152,219) ;
    border: 8px solid rgb(52,152,219) ;
    

}

#section_1{
grid-area: se1;
display: flex;
background: blue;
}

#section_2{
    grid-area: se2;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    
}

#section_3{
    grid-area: se3;
    display: flex;
    background: rgb(52,152,219);
}

#section_4{
    grid-area: se4;
    display: flex;
    background: rgb(52,152,219);
}

#section_5{
    grid-area: se5;
    display: flex;
    background: rgb(34, 255, 0);
}

#section_6{
    grid-area: se6;
    display: flex;
    background: rgb(255, 0, 144);
}

#section_7{
    grid-area: se7;
    display: flex;
    background: rgb(52,152,219);
}

#section_8{
    grid-area: se8;
    display: flex;
    background: rgb(255, 0, 144)
}
#section_9{
    grid-area: se9;
    display: flex;
    background: rgb(255, 0, 144)
}
#section_10{
    grid-area: se10;
    display: flex;
    background: rgb(255, 0, 144)
}

footer{
    grid-area: foo;
    display: flex;
    background: rgb(52,152,219);
    width: 100%;
    height: 150px;
}
img{
    border-radius: 12px;
    height: 334px;
    width: 390px;

}
.round_corner{
    border-radius: 0px 12px 12px 0px;

}
.round_corner_left{
    border-radius: 12px 0px 0px 12px;
}
p{
    width: 390px;
    height: 334px;
    background: rgb(219, 52, 52);
    text-align: center;
    
}

