@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Pixelify+Sans&family=Quicksand&family=Titillium+Web:wght@600&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
    font-size: 1.2rem;
}

#top{
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:50px 1fr;
    grid-template-areas: 
    "lis"
    "mai"
    ;
}
#grid_wrapper{
    display: grid;
    height: 100%;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px minmax(100px);
    
    grid-template-areas: 
    "se1 se2 se2"
    "se3 se3 se4"
    "se5 se6 se6"
    "foo foo foo"
    ;
}
#grid_wrapper_products{
    display: grid;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px minmax(100px);

    grid-template-areas: 
    "se1 se2 se2"
    "se3 se3 se4"
    "se5 se6 se6"
    "se7 se7 se8"
    "se9 se10 se10"
    "foo foo foo"
    ;
}
#grid_wrapper_contacts{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "cfo"
    ;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main{
    grid-area: mai;
    display: flex;
    background: black;
}
#list{
    grid-area: lis;
    display: flex;
    background: rgb(222, 207, 177);
}
section{
    margin:15px;
    border-radius: 20px;
    height: 350px;
    border-width: 20px;
    border-color: rgb(52,152,219) ;
    border: 8px solid rgb(52,152,219) ;
    transition: all 0.22s;
}

#section_1{
grid-area: se1;
display: flex;
background: blue;
}
/*section2--start---------------------------------------------------------------------------------------------------------*/
#section_2{
    grid-area: se2;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "he2 im2"
    "p2 im2";  
}
#he_2{
    grid-area: he2;
    background: rgb(52,152,219);
}
#im_2{
    grid-area: im2;
    background: rgb(52,152,219);
}
#p_2{
    grid-area: p2;
    background: rgb(52,152,219);
}

#prod_section_2{
    grid-area: se2;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "prodhe2 prodim2"
    "prodp2 prodim2";  
}
#prod_he_2{
    grid-area: prodhe2;
    background: rgb(52,152,219);
}
#prod_im_2{
    grid-area: prodim2;
    background: rgb(52,152,219);
}
#prod_p_2{
    grid-area: prodp2;
    background: rgb(52,152,219);
}

/*Section 3--start--------------------------------------------------------------------------------------------------------*/
#section_3{
    grid-area: se3;
    display: flex;
    background: rgb(52,152,219);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "im3 he3"
    "im3 p3";  
}
#he_3{
    grid-area: he3;
    background: rgb(52,152,219);
}
#im_3{
    grid-area: im3;
    background: rgb(52,152,219);
}
#p_3{
    grid-area: p3;
    background: rgb(52,152,219);
}

#prod_section_3{
    grid-area: se3;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "prodim3 prodhe3"
    "prodim3 prodp3";  
}
#prod_he_3{
    grid-area: prodhe3;
    background: rgb(52,152,219);
}
#prod_im_3{
    grid-area: prodim3;
    background: rgb(52,152,219);
}
#prod_p_3{
    grid-area: prodp3;
    background: rgb(52,152,219);
}
/* section 3--end---------------------------------------------------------------------------------------------------- */
#section_4{
    grid-area: se4;
    display: flex;
    background: rgb(52,152,219);
}

#section_5{
    grid-area: se5;
    display: flex;
    background: rgb(34, 255, 0);
}
/*section 6--start----------------------------------------------------------------------------------------------------*/

#section_6{
    grid-area: se6;
    display: flex;
    background: rgb(52,152,219);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "he6 im6"
    "p6 im6";  
}
#he_6{
    grid-area: he6;
    background: rgb(52,152,219);
}
#im_6{
    grid-area: im6;
    background: rgb(52,152,219);
}
#p_6{
    grid-area: p6;
    background: rgb(52,152,219);
}

#prod_section_6{
    grid-area: se6;
    display: flex;
    background: rgb(52,152,219);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "prodhe6 prodim6"
    "prodp6 prodim6";  
}
#prod_he_6{
    grid-area: prodhe6;
    background: rgb(52,152,219);
}
#prod_im_6{
    grid-area: prodim6;
    background: rgb(52,152,219);
}
#prod_p_6{
    grid-area: prodp6;
    background: rgb(52,152,219);
}
/*section6--end-------------------------------------------------------------------------------------------------------*/
#section_7{
    grid-area: se7;
    display: flex;
    background: rgb(52,152,219);
}
#prod_section_7{
    grid-area: se7;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "prodim7 prodhe7"
    "prodim7 prodp7";  
}
#prod_he_7{
    grid-area: prodhe7;
    background: rgb(52,152,219);
}
#prod_im_7{
    grid-area: prodim7;
    background: rgb(52,152,219);
}
#prod_p_7{
    grid-area: prodp7;
    background: rgb(52,152,219);
}

#section_8{
    grid-area: se8;
    display: flex;
    background: rgb(255, 0, 144)
}
#section_9{
    grid-area: se9;
    display: flex;
    background: rgb(255, 0, 144)
}
#section_10{
    grid-area: se10;
    display: flex;
    background: rgb(255, 0, 144)
}
#prod_section_10{
    grid-area: se10;
    display: flex;
    background: rgb(52,152,219);
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "prodhe10 prodim10"
    "prodp10 prodim10";  
}
#prod_he_10{
    grid-area: prodhe10;
    background: rgb(52,152,219);
}
#prod_im_10{
    grid-area: prodim10;
    background: rgb(52,152,219);
}
#prod_p_10{
    grid-area: prodp10;
    background: rgb(52,152,219);
}


footer{
    grid-area: foo;
    display: flex;
    background: rgb(52,152,219);
    width: 100%;
    height: 150px;
}
#contact_footer{
    grid-area: cfo;
    display: flex;
    background: rgb(52,152,219);
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "h2_1 h2_2 h2_3"
    "art1 art2 art3";
}
#h2_contact{
    grid-area: h2_1;
    background: red;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
}
#h2_contact_1{
    grid-area: h2_2;
    background: orange;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
}
#h2_contact_2{
    grid-area: h2_3;
    background: yellow;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
}
#contact_top{
    grid-area: cto;
    display: flex;
    background: black;
    height: 

}
img{
    border-radius: 12px;
    height: 334px;
    width: 390px;

}
.round_corner{
    border-radius: 0px 12px 12px 0px;

}
.round_corner_left{
    border-radius: 12px 0px 0px 12px;
}
/*p{
    width: 390px;
    height: 334px;
    background: rgb(219, 52, 52);
    text-align: center;
    
}
*/
p{
    margin: 15px;
    text-align: center;

}
header{
    font-size: 1.6rem;
    text-align: center;
}
section:hover{
    transform: scale(103%);
}

li{
    width: 95px;
    height: 35px;
    background: rgb(219,119,52);
    text-align: center;
    border-radius: 10px;
    
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
li:hover{
    color: rgba(0, 151, 252, 0.795);
    background:rgba(202, 81, 0, 0.856);
}
